@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    outline: none;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* To prevent horizontal scorlling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}